In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-04-29 19:27:35,-46.1927,168.8643,45.48,94,100,3.22
1,1,Lvovskoye,RU,2022-04-29 19:27:35,44.9944,38.6354,59.11,71,99,10.16
2,2,Benghazi,LY,2022-04-29 19:27:35,32.1167,20.0667,66.24,72,5,19.62
3,3,Bambous Virieux,MU,2022-04-29 19:27:36,-20.3428,57.7575,72.21,88,20,1.14
4,4,Busselton,AU,2022-04-29 19:24:28,-33.6500,115.3333,54.32,84,0,5.10

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [ ]:
#Create a Maximum Temperature Heatmap